/*Variables*/

$colors: #EDAFB8, #F7E1D7, #DEDBD2, #B0C4B1, #4A5759;


/*Mixin */

@mixin boton ($colors) {
    background-color: nth($colors, 3);
    color: nth($colors, 3);
    border: 1px solid nth($colors, 5);
    padding: 10px;
    border-radius: 10px;
    &:hover {
        background-color: nth($colors, 4);
    }
}

/*Estilos Generales*/

body {
    background-color: nth($colors, 2);
    height: 100%;
}

* {
    font-family: "Montserrat", sans-serif;
}

p {
    font-size: 16px;
    letter-spacing: -0.5px;
    color: nth($colors, 5);
}

h1, h2, h3 {
    color: nth($colors , 5);
}

footer {
    font-size: 16px;
    color: nth($colors, 5);
    font-weight: 400;
}

/*Header con nesting*/

header {
    nav {
        .nav-link {
            color: nth($colors , 5);
            &:hover {
                color: nth($colors, 4);
            }
        }
    }
}

.img-about {
    max-width: 80%;
}

/*Boton*/

.boton {
    @include boton (nth ($colors, 3) , ($colors, 5));
    margin-left: 2rem;
}

/*Index*/

.p-index {
    font-size: 22px;
    color: nth($colores, 5);
    line-height: 30px;
    margin-left: 2rem;
    max-width: 100%;
}

.img-index {
    height: auto;
    max-width: 100%;
}

/*Servicios*/

.boxServicios {
    width: 23rem;
}

img {
    height: 20rem;
    width: 21rem;
}

.boxServicios-content {
    background-color: #FFFFFF;
    padding: 1rem;
}

.t-servicio {
    font-size: 20px;
    font-weight: bold;
}

.p-servicio {
    font-size: 20px;
    color: nth($colors, 1);
    font-weight: bolder;
}

/*Galeria*/

.amigos {
    text-align: center; 
    img {
        height: auto;
        max-width: 100%;
    }
}

h3 {
    font-weight: bold;
    font-size: 30px;
}

/*Contacto*/

.contenedor-contacto1, .contenedor-contacto2 {
    gap: 2rem;
    margin: 2rem;
}

.caja1, .caja2, .caja3, .caja4 {
    background-color:  #ffffff46;
    border: 2px solid #FFFFFF;
    border-radius: 1rem;
    text-align: center;
    font-size: 20px;
    width: 250px;
    height: 290px;
}

.cajas {
    color: nth($colors, 1);
    font-style: 18px;
    font-weight: bold;
}

.iconos {
    height: 100px;
    width: 100px;
    margin: 3rem;
}